@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.hide {
  display: none;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 777;
}

.ui-content {
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 128px; 
    grid-gap: 0px 0px; 
    grid-template-areas: 
      "."
      "ui-footer"; 
    margin: 0;
    padding: 0;
}

.ui-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

#app-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12pt;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-blocker * {
  color: #fff200;
}

#status {
  position: absolute;
  top: 16px;
  left: 16px;
}

#website {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 888;
  color: #fff200;
}

#warning-box {
    position: absolute;
    width:  100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 888;
    font-size: small;
    color: #fff200; 
}

#warning {
    padding: 8px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#logo img {
  width: 40%;
  height: 40%;
}

#prompt {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000000;
}

#prompt-notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff200;
}

#prompt-notice-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-style: solid;
    border-width: 1px;
    padding: 16px;
    margin: 16px;
    font-size: 10pt;
}

#prompt-button {
    margin: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start{
    background-image: url("../img/start.svg");
    width: 96px;
    height: 42px;
    margin: 0;
    padding: 0;
}
