@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    background-color: #fff200;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#content img {
    width: 256px;
    height: 256px;
}

#back {
    position: fixed;
    left: 32px;
    bottom: 32px;
}